/* Theme */

main, body {
	color: #000000;
	height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, html {
    height: 100%;
}

.icons-social a {
	color: #000000;
}

.icons-social a svg path{
	fill: #000000;
}
